
.container {
    position: relative;
   
  }
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 80%;
    height: 20px;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    font-size: x-small;
    padding-top: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    float: right;
  }

  .container .btnWish {
    position: absolute;
    top: 80%;
    height: 20px;

    transform: translate(-50%, -50%);
    background-color:red;
    color: white;
    font-size: x-small;
    padding-top: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    float: left;
  }
  

  .container .btn:hover  {
    background-color: red;
    color: white;

  }

  .wrap-icon-section{
      float:right;
  }

  i.fa.fa-heart{
    font-size:40px;
    color:#ff6666;
    text-shadow:2px 2px 4px #000000;
   
}

.left-info{
    float:right;
    margin-left:10px;
    padding-top: 7px;

}

.index{
background-color: #C8C8C8;
color: white;
}

.title{
    color: #5c5555;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
}

.list:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }

  .btnGuardar{
    background-color: #ff6666;
    color: white;
    border-radius: 20px;
    border-color: white;
    width: 150px;
    height: 40px;
  }

  .correo1{
    text-align: center;
  }